#formChatWidget {
    position: fixed;
    bottom: 85px;
    right: 20px;
    width: 320px;
    background: #fff;
    border-radius: 12px;
    display: none;
    z-index: 99999;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    overflow: hidden;
}

#formChatWidget .chat-header {
    padding: 12px 16px;
    border-bottom: 1px solid #eee;
    background: #fafafa;
}

#formChatWidget .chat-body {
    padding: 16px;
    max-height: 400px;
    overflow-y: auto;
}

.form-label.required::after {
    content: " *";
    color: red !important;
    font-weight: bold;
}


@media (max-width: 768px) {
    #chatOverlayMobile {
        position: fixed;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background: rgba(0,0,0,0.5);
        z-index: 99990;
        display: none;
    }

    #formChatWidget {
        top: 50%;
        left: 50%;
        bottom: auto;
        right: auto;

        transform: translate(-50%, -50%);
        width: 90% !important;
        max-width: 380px;
        height: auto;

        border-radius: 12px !important;
        box-shadow: 0 10px 30px rgba(0,0,0,0.25);
    }

    #formChatWidget .chat-header {
        position: sticky;
        top: 0;
        z-index: 10;
    }

    #formChatWidget .chat-body {
        max-height: 65vh;  
        overflow-y: auto;
    }
}
