#chatRoomWidgetAdmin {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 380px;
    height: 500px;
    background: white;
    border-radius: 12px;
    display: none;
    z-index: 99999;
    overflow: hidden;
}

#chatRoomWidgetAdmin .chat-room-body {
    height: calc(100% - 50px);
    overflow-y: auto;
    padding: 15px;
}

/* Item Chat */
#chatProductList {
    max-height: 350px;
    overflow-y: auto;
    padding: 10px;
}

/* Chat item */
.chat-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background 0.2s;
}

.chat-item img {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 12px;
}

/* Title style */
.chat-item-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.chat-title-row {
    display: flex;
    align-items: center;
    gap: 6px; /* jarak ke badge */
}

.chat-item-title p {
    margin: 0;
}


/* BADGE */
.badge-new {
    background-color: #007bff;
    color: white;
    font-size: 11px;
    padding: 2px 6px;
    border-radius: 6px;
    margin-left: 8px;
}

/* UNREAD */
.chat-item.unread {
    background: #e9f3ff;
    /* border-left: 4px solid #007bff; */
    font-weight: 400;
}

/* READ */
.chat-item.read {
    background: white;
    font-weight: 400;
}

/* Hover */
.chat-item:hover {
    background: #f2f2f2;
}


